/* Reset CSS */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* 
1. Vi tri
2. Kich thuoc (width, height)
3. Mau sac
4. Kieu dang (kieu chu, hinh tron, vuong , ...)
*/

#main {

}
#header {
    height: 46px;
    background-color: #000;
}

#nav {}

#nav li {
    display: inline-block
}
#nav .subnav {
    display: none;
}


#nav li a {
    color: #fff;
    text-decoration: none;
}
#slider {

}
#content {

}
#footer {

}